<app-form-box [title]="'Password recovery '"
    [activeLinks]="{forgotPassword: false, dontHaveAccount: true, haveAccount: true}" [backButton]="true" [route]="'/login'">
    <form>
        <div *ngIf="step==1">
            <app-input [type]="'email'" [id]="'email'" [name]="'email'" [label]="'E-mail'" (changeEvent)="onChangeForm($event)"></app-input>
            <app-button [type]="'default'" [label]="'Send code'" (onClickEvent)="onSendCode()"></app-button>
        </div>
        <div *ngIf="step==2">
            <app-input-code [numberCodes]="5" (changeEvent)="onChangeForm($event)"></app-input-code>
            <button class="btn-resend" (click)="onReendCode()">Resend code</button>
            <app-button [type]="'default'" [label]="'Check code'" (onClickEvent)="onCheckCode()"></app-button>
        </div>
        <div *ngIf="step==3">
            <app-input [type]="'password'" [id]="'new-password'" [name]="'new-password'" [label]="'New password'"
                [setVisible]="true" (changeEvent)="onChangeForm($event)"></app-input>
            <app-input [type]="'password'" [id]="'new-password-again'" [name]="'new-password-again'"
                [label]="'New password again'" [setVisible]="true" (changeEvent)="onChangeForm($event)"></app-input>
            <app-button [type]="'warning'" [label]="'Change password'" (onClickEvent)="onResetPassword()"></app-button>
        </div>
    </form>
</app-form-box>
<app-spinner-loader [show]="spinner"></app-spinner-loader>
<app-alert [type]="alert.type" [show]="alert.show" (hide)="onCloseAlert($event)">{{alert.message}}</app-alert>