.btn-resend{
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--light);
    cursor: pointer;
    transition: 0.5s;
}

.btn-resend:hover{
    color: var(--primary);
}
