<main class="content">
    <section>
        <img src="assets/contact_photo.png" alt="news-photo" class="photo">
    </section>
    <section>
        <ul class="contact-list">
            <li>
                <a href="#"><i class="bi bi-envelope-at"></i>filipe.guizzo.contato@gmail.com</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-telephone-plus"></i>+55 (48) 99868-3722</a>
            </li>
            <li>
                <a href="https://github.com/Filipe-Guizzo" target="_blank"><i class="bi bi-github"></i>Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/filipe-guizzo-271b361a2/" target="_blank"><i class="bi bi-linkedin"></i>Linkedin</a>
            </li>
        </ul>
    </section>
</main>

